body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* margin: 30px; */
  margin: 0;
}
.web_t {
  font-size: 45px;
  font-weight: 600;
  /* margin-top: auto; */
  /* color: rgb(235, 71, 12); */
}
nav {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  margin-left: 60px;
  align-items: center;
  margin-top: -50px;
}
nav > ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav > li,
a {
  text-decoration: none;
  margin-right: 50px;
  font-size: 25px;
}
li button {
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: orangered;
  border: none;
  border-radius: 10px;
  padding: 15px;
  /* margin-top: -12px; */
}

.header {
  background-color: bisque;
  /* padding: 40px */
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
  background-image: url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.btn {
  color: white;
  background-color: orangered;
  padding: 7px;
  border: none;
  border-radius: 7px;
  font-weight: 500px;
  font-size: 16px;
  margin-right: 10px;
}
.down_head {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.down_head img {
  height: 340px;
}
.down_head {
  font-size: 20px;
}
.mid_body {
  /* border: 2px solid; */
  border-radius: 10px;
  max-width: 60%;
  margin: 100px auto;
  padding: 20px 40px;
  background-color: bisque;
}
.body_text {
  text-align: center;
  font-size: 20px;
}

.details {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.body_text2 {
  text-align: center;
  font-size: 20px;
  max-width: 70%;
  margin: 20px auto;
}

.skills {
  width: 85%;
  margin: 50px auto;
  display: flex;
  gap: 25px;
}
.sub {
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 10px 10px lightgray;
  width: 50%;
  padding: 20px;
}
#txt {
  margin: 10px;
  text-align: center;
}
.resume {
  display: flex;
  margin: 0 100px;
}
.list {
  /* border: 2px solid; */
  margin: 30px 20px;
  padding: 10px;
  /* align-items: center; */
}
.list2 {
  border-bottom: 2px solid lightgray;
  margin-bottom: 30px;
}
    
 .d_cv{
  text-align: center;
  margin-bottom: 50px;
 }
 .last_sec{
  background-color: bisque;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
 }
 .form input, textarea{
  display: block;
  margin-bottom: 15px;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
 }
 .last_txt{
  margin-top: 150px;
 }